{%- comment -%}
  Render quote icon

  Accepts:
    - additional_classes: {String} Additional classes
    - title: {String} Title (optional)
{%- endcomment -%}
<span class="icon icon--quote {{ additional_classes }}">
  <svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
  >
    {%- if title -%}<title>{{- title -}}</title>{%- endif -%}
    <path d="M99.7 0L99.7 0L99.7 14.2Q96.4 15.9 93.8 19.2Q91.3 22.5 89.6 27.1L89.6 27.1Q88.0 31.9 87.2 38.1Q86.3 44.3 86.3 52.1L86.3 52.1L86.3 56.4L104.5 56.4L104.5 98.8L62.1 98.8L62.1 67.1Q62.1 60.0 62.7 53.5L62.7 53.5Q63.3 47.1 64.5 41.4Q65.6 35.6 67.4 30.7L67.4 30.7Q69.1 25.8 71.5 21.6L71.5 21.6Q73.8 17.4 76.8 13.9L76.8 13.9Q79.7 10.4 83.2 7.8Q86.7 5.1 90.8 3.1L90.8 3.1Q95.0 1.2 99.7 0L99.7 0ZM37.6 0L37.6 0L37.6 14.2Q34.3 15.9 31.7 19.2Q29.2 22.5 27.5 27.1L27.5 27.1Q25.9 31.9 25.0 38.1Q24.2 44.3 24.2 52.1L24.2 52.1L24.2 56.4L42.4 56.4L42.4 98.8L0 98.8L0 67.1Q0 60.0 0.6 53.5L0.6 53.5Q1.2 47.1 2.3 41.4Q3.5 35.6 5.3 30.7L5.3 30.7Q7.0 25.8 9.4 21.6L9.4 21.6Q11.7 17.4 14.6 13.9L14.6 13.9Q17.6 10.4 21.1 7.8Q24.6 5.1 28.7 3.1L28.7 3.1Q32.8 1.2 37.6 0L37.6 0Z" />
  </svg>
</span>
