{%- comment -%}
  Render a theme icon

  Accepts:
    - icon: {String} Icon name
    - additional_classes: {String} Additional classes (optional)
    - title: {String} Title (optional)
{%- endcomment -%}
{%- liquid
  assign name = icon | downcase | strip
  assign names = '3d-model, cart, check, chevron, close, delete, email, filter, gift, label, lock, menu, note, phone, play, plus, quickbuy, search, user'
-%}
{%- if names contains name -%}
  <span
    class="icon icon--theme icon--{{ name }} {{ additional_classes }}"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 48 48"
    >
      {%- if title -%}<title>{{- title -}}</title>{%- endif -%}
      {%- case name -%}
        {%- when '3d-model' -%}
          <path d="M35.3169 15.2861L25.8462 9.82153C25.2849 9.49747 24.6481 9.32686 24 9.32686C23.3519 9.32686 22.7151 9.49747 22.1538 9.82153L12.7015 15.36C12.1326 15.6884 11.6616 16.1626 11.337 16.7338C11.0125 17.305 10.8462 17.9524 10.8554 18.6092V29.5385C10.8462 30.1953 11.0125 30.8427 11.337 31.4139C11.6616 31.985 12.1326 32.4593 12.7015 32.7877L22.1538 38.3262C22.7151 38.6502 23.3519 38.8208 24 38.8208C24.6481 38.8208 25.2849 38.6502 25.8462 38.3262L35.2985 32.7877C35.8674 32.4593 36.3384 31.985 36.663 31.4139C36.9875 30.8427 37.1538 30.1953 37.1446 29.5385V18.4615C37.1426 17.819 36.9729 17.1881 36.6524 16.6312C36.3319 16.0743 35.8715 15.6106 35.3169 15.2861ZM23.5015 35.7785L14.0492 30.24C13.9216 30.1667 13.8122 30.0655 13.7291 29.9441C13.646 29.8226 13.5913 29.684 13.5692 29.5385V18.4615C13.5698 18.2886 13.6163 18.1188 13.7038 17.9696C13.7914 17.8205 13.917 17.6972 14.0677 17.6123L23.52 12.0738C23.6687 11.988 23.8375 11.9428 24.0092 11.9428C24.181 11.9428 24.3497 11.988 24.4985 12.0738L33.9508 17.6123L25.2369 22.56C24.8486 22.7816 24.5281 23.1051 24.3101 23.4955C24.0921 23.886 23.9849 24.3285 24 24.7754V35.8523C23.8425 35.8922 23.6775 35.8922 23.52 35.8523L23.5015 35.7785Z" class="fill" />
        {%- when 'cart' -%}
          <path d="M34 14.1984V13.8105C34 8.66844 29.702 4.5 24.4 4.5H23.6C18.2981 4.5 14 8.66844 14 13.8105V14.1984M5 14.4048H43V43.5H5V14.4048Z" vector-effect="non-scaling-stroke" />
        {%- when 'check' -%}
          <path d="M4.5 23.9999L17.5 36.9999L43.5 10.9999" stroke-linecap="square" vector-effect="non-scaling-stroke" />
        {%- when 'chevron' -%}
          <path d="M13.8683 4.75L33.1183 24L13.8683 43.25" stroke-linecap="square" vector-effect="non-scaling-stroke" />
        {%- when 'close' -%}
          <path d="M7.09385 41.5L41.5 6.5M6.5 6.5L40.9062 41.5" vector-effect="non-scaling-stroke" />
        {%- when 'delete' -%}
          <path d="M19.1547 33.7431V20.7455M28.8453 33.7431V20.7455M4.5 10.9988L43.5 11.0007M35.3085 43.5H12.6918C12.2676 43.5 11.8475 43.416 11.4556 43.2525C11.0637 43.0893 10.7076 42.8498 10.4077 42.5478C10.1078 42.2462 9.86995 41.8876 9.70778 41.4933C9.5456 41.099 9.46224 40.6764 9.4625 40.2498V11.0007H38.5376V40.2498C38.5376 41.1112 38.1974 41.9375 37.592 42.5469C36.9862 43.1559 36.1648 43.5 35.3085 43.5ZM28.8461 4.5H19.1543C18.7301 4.5 18.31 4.58409 17.9181 4.74744C17.5262 4.91083 17.1701 5.15026 16.8702 5.4521C16.5703 5.75397 16.3324 6.11227 16.1703 6.50662C16.0081 6.90094 15.9248 7.32355 15.925 7.75031V10.9988H32.0773V7.75031C32.0773 6.88877 31.737 6.06253 31.1314 5.45332C30.5258 4.84414 29.7026 4.5 28.8461 4.5Z" stroke-linejoin="round" vector-effect="non-scaling-stroke" stroke-linecap="round"/>
        {%- when 'email' -%}
          <path d="M31.357 23.4876C31.357 27.2668 28.2933 30.3305 24.5141 30.3305C20.7349 30.3305 17.6712 27.2668 17.6712 23.4876C17.6712 19.7084 20.7349 16.6447 24.5141 16.6447C28.2933 16.6447 31.357 19.7084 31.357 23.4876ZM31.357 23.4876L31.3562 25.0077C31.3562 26.4192 31.9169 27.7729 32.9149 28.7709C33.913 29.769 35.2666 30.3297 36.6781 30.3297C38.0895 30.3297 39.4432 29.769 40.4412 28.7709C41.4393 27.7729 42 26.4192 42 25.0077V23.4872C41.9971 19.5773 40.685 15.781 38.2729 12.7038C35.8608 9.62668 32.4877 7.44592 28.6916 6.50942C24.8956 5.57292 20.8952 5.93463 17.3287 7.53685C13.7622 9.13908 10.835 11.8895 9.01395 15.3494C7.19294 18.8094 6.58305 22.7795 7.28156 26.6264C7.98008 30.4734 9.94676 33.9757 12.8679 36.5745C15.789 39.1734 19.4963 40.7192 23.3985 40.9653C27.3006 41.2114 31.1727 40.1437 34.3973 37.9324" vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round"/>
        {%- when 'filter' -%}
          <path d="M4 33H28M28 33C28 35.7614 30.2386 38 33 38C35.7614 38 38 35.7614 38 33M28 33C28 30.2386 30.2386 28 33 28C35.7614 28 38 30.2386 38 33M44 33H38M4 15H10M10 15C10 17.7614 12.2386 20 15 20C17.7614 20 20 17.7614 20 15M10 15C10 12.2386 12.2386 10 15 10C17.7614 10 20 12.2386 20 15M20 15H44" vector-effect="non-scaling-stroke" />
        {%- when 'gift' -%}
          <path d="M18.2174 16.5993V43M29.7826 43V16.5993M43 21.5494C43 21.9871 42.8259 22.4067 42.5161 22.7162C42.2062 23.0256 41.786 23.1995 41.3478 23.1995H6.65217C6.21399 23.1995 5.79375 23.0256 5.48391 22.7162C5.17407 22.4067 5 21.9871 5 21.5494V18.2493C5 17.8117 5.17407 17.392 5.48391 17.0826C5.79375 16.7731 6.21399 16.5993 6.65217 16.5993H41.3478C41.786 16.5993 42.2062 16.7731 42.5161 17.0826C42.8259 17.392 43 17.8117 43 18.2493V21.5494ZM39.6957 41.35C39.6957 41.7876 39.5216 42.2073 39.2117 42.5167C38.9019 42.8262 38.4817 43 38.0435 43H9.95652C9.51834 43 9.0981 42.8262 8.78826 42.5167C8.47842 42.2073 8.30435 41.7876 8.30435 41.35V23.1995H39.6957V41.35ZM32.9663 10.5601C31.7041 11.8224 25.6522 13.2992 25.6522 13.2992C25.6522 13.2992 27.1391 7.2551 28.3948 5.99447C28.6926 5.68422 29.0494 5.43647 29.4444 5.26573C29.8393 5.09499 30.2644 5.00471 30.6947 5.00018C31.125 4.99565 31.5519 5.07695 31.9504 5.23933C32.3488 5.4017 32.7108 5.64189 33.0151 5.94579C33.3194 6.2497 33.5599 6.61122 33.7225 7.00915C33.8851 7.40709 33.9665 7.83343 33.9619 8.2632C33.9574 8.69296 33.867 9.1175 33.696 9.51192C33.5251 9.90634 33.277 10.2627 32.9663 10.5601ZM15.0337 10.5601C16.2959 11.8224 22.3478 13.2992 22.3478 13.2992C22.3478 13.2992 20.8609 7.2551 19.6052 5.99447C18.9947 5.40996 18.1792 5.08761 17.3336 5.09652C16.4879 5.10543 15.6794 5.44489 15.0814 6.04213C14.4834 6.63937 14.1435 7.44684 14.1345 8.29141C14.1256 9.13599 14.4484 9.95044 15.0337 10.5601Z" vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round"/>
        {%- when 'label' -%}
          <path d="M6.16917 25.5622C5.06029 24.4533 4.50388 22.91 4.65445 21.361L5.72818 10.3141C5.96488 7.87887 7.8789 5.96484 10.3141 5.72815L21.361 4.65441C22.9101 4.50384 24.4533 5.06026 25.5622 6.16913L41.6078 22.2147C43.6415 24.2484 43.6622 27.5251 41.654 29.5333L29.5333 41.654C27.5251 43.6622 24.2485 43.6415 22.2147 41.6077L6.16917 25.5622Z" vector-effect="non-scaling-stroke"/>
          <path d="M14.8709 11.5963C16.5041 11.6066 17.8365 12.9389 17.8468 14.5721C17.8571 16.2053 16.5415 17.5209 14.9083 17.5106C13.2751 17.5003 11.9428 16.168 11.9324 14.5348C11.9221 12.9016 13.2377 11.586 14.8709 11.5963Z" vector-effect="non-scaling-stroke"/>
        {%- when 'lock' -%}
          <path d="M25.75 30.7147C26.4972 30.2778 27 29.4614 27 28.5263C27 27.131 25.8807 26 24.5 26C23.1192 26 22 27.131 22 28.5263C22 29.4614 22.5027 30.2778 23.25 30.7147V32.7368C23.25 33.4344 23.8097 34 24.5 34C25.1903 34 25.75 33.4344 25.75 32.7368V30.7147Z" class="fill" />
          <path d="M15.1111 16.8535V12.4217C15.1111 12.4217 15.1111 4.44446 24 4.44446C32.8889 4.44446 32.8889 12.4217 32.8889 12.4217V16.8535M13.3333 16.8535H34.6667C37.6122 16.8535 40 19.2346 40 22.1717V38.1263C40 41.0634 37.6122 43.4445 34.6667 43.4445H13.3333C10.3878 43.4445 8 41.0634 8 38.1263V22.1717C8 19.2346 10.3878 16.8535 13.3333 16.8535Z" vector-effect="non-scaling-stroke" />
        {%- when 'menu' -%}
          <path d="M4 8H44M4 24H44M4 40H44" vector-effect="non-scaling-stroke" />
        {%- when 'note' -%}
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.555 18.3567L21.8917 21.02L27.2184 26.3468L29.8818 23.6834L44.9742 8.59101C46.4451 7.12007 46.4451 4.73521 44.9742 3.26427C43.5032 1.79334 41.1184 1.79334 39.6474 3.26427L24.555 18.3567ZM20.0291 23.5962L18.3406 29.8978L24.6422 28.2093L20.0291 23.5962Z" class="fill" />
          <path d="M40.5 23.7642V35.108C40.5 37.9557 38.1914 40.2642 35.3438 40.2642H12.6562C9.80856 40.2642 7.5 37.9557 7.5 35.108V12.4205C7.5 9.57278 9.80856 7.26422 12.6562 7.26422H24" vector-effect="non-scaling-stroke" />
        {%- when 'phone' -%}
          <rect x="12" y="4.5" width="24" height="39" rx="4.875" vector-effect="non-scaling-stroke" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20 37.3318C20 36.5963 20.4884 36 21.0909 36H26.9091C27.5116 36 28 36.5963 28 37.3318C28 38.0673 27.5116 38.6636 26.9091 38.6636H21.0909C20.4884 38.6636 20 38.0673 20 37.3318Z" class="fill" />
        {%- when 'play' -%}
          <path d="M32.9999 23.1339C33.6666 23.5188 33.6666 24.4812 32.9999 24.8661L20.2501 32.2272C19.5834 32.6121 18.75 32.1309 18.75 31.3611L18.75 16.6389C18.75 15.8691 19.5834 15.3879 20.2501 15.7728L32.9999 23.1339Z" class="fill" />
        {%- when 'plus' -%}
          <path d="M24 4L24 44M4 24.0024H44" vector-effect="non-scaling-stroke" />
        {%- when 'quickbuy' -%}
          <path d="M27.5 43.5H5V14.4048H43V28.2611M34 14.1984V13.8105C34 8.66844 29.702 4.5 24.4 4.5H23.6C18.2981 4.5 14 8.66844 14 13.8105V14.1984M35 28.746V35.5349M35 35.5349V42.3238M35 35.5349H28M35 35.5349L42 35.5349" vector-effect="non-scaling-stroke" />
        {%- when 'search' -%}
          <path d="M36.2018 36.2008L43.5 43.5M41.383 23.6915C41.383 33.4622 33.4622 41.383 23.6915 41.383C13.9208 41.383 6 33.4622 6 23.6915C6 13.9208 13.9208 6 23.6915 6C33.4622 6 41.383 13.9208 41.383 23.6915Z" vector-effect="non-scaling-stroke" />
        {%- when 'user' -%}
          <path d="M24 26.4906C16.5805 26.4906 9.59825 28.4654 3.5 31.944V43.4906H44.5V31.944C38.4018 28.4654 31.4195 26.4906 24 26.4906Z" vector-effect="non-scaling-stroke" />
          <path d="M24 23C29.5228 23 34 18.5228 34 13C34 7.47715 29.5228 3 24 3C18.4772 3 14 7.47715 14 13C14 18.5228 18.4772 23 24 23Z" vector-effect="non-scaling-stroke" />
      {%- endcase -%}
    </svg>
  </span>
{%- endif -%}
