{% comment %}theme-check-disable NestedSnippet{% endcomment %}
<div id="ui-templates" style="display: none">
  <template id="template-spinner">{%- render 'theme-spinner', tag: 'theme-spinner' -%}</template>
  <template id="template-icon-close">{%- render 'icons-theme', icon: 'close' -%}</template>
  <template id="template-icon-chevron">{%- render 'icons-theme', icon: 'chevron' -%}</template>
  <template id="template-icon-play">{%- render 'icons-theme', icon: 'play' -%}</template>
</div>
