/* ==========================================================================
   #Transparent header
   ========================================================================== */
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) {
  background-color: transparent;
  -webkit-transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s ease-in-out 0.02s, -webkit-transform 350ms ease;
  -moz-transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s ease-in-out 0.02s, -moz-transform 350ms ease;
  transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s ease-in-out 0.02s, transform 350ms ease;
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header--has-transparent-divider:not(:hover) {
  border-bottom: 1px solid var(--header-transparent-text-color-light);
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true]:not(.header--has-transparent-divider) {
  border-bottom: 0 none;
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .primary-nav__link,
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .secondary-nav__link,
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .header__logo-link--text,
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .header-trigger__link {
  color: var(--header-transparent-text-color);
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .primary-nav__link--special {
  color: var(--special-link-color);
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header.header--disable-special-links:not(:hover) .primary-nav__link--special {
  color: var(--header-transparent-text-color);
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .cart-count-bubble {
  background: var(--header-transparent-text-color);
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .cart-count-bubble {
  color: var(--header-transparent-text-contrast-color);
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .header__logo--has-transparent .header__logo-img--transparent,
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .header__logo--has-transparent .header__logo-img {
  opacity: 0;
}
body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .header__logo--has-transparent .header__logo-img--transparent {
  opacity: 1;
}

@media (hover: none) {
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header {
    background-color: transparent;
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header--has-transparent-divider {
    border-bottom: 1px solid var(--header-transparent-text-color-light);
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .primary-nav__link,
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .secondary-nav__link,
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .header__logo-link--text,
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .header-trigger__link {
    color: var(--header-transparent-text-color);
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header:not(:hover) .primary-nav__link--special {
    color: var(--special-link-color);
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header.header--disable-special-links:not(:hover) .primary-nav__link--special {
    color: var(--header-transparent-text-color);
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .cart-count-bubble {
    background: var(--header-transparent-text-color);
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .cart-count-bubble {
    color: var(--header-transparent-text-contrast-color);
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .header__logo--has-transparent .header__logo-img--transparent,
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .header__logo--has-transparent .header__logo-img {
    opacity: 0;
  }
  body:not(.header-stuck):not([header-menu-open]) [data-transparent-header=true].header .header__logo--has-transparent .header__logo-img--transparent {
    opacity: 1;
  }
}
[data-transparent-header=true].header {
  position: absolute;
}

[data-transparent-header=true].header .header__logo-img {
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.header-trigger__link.js-cart-full:after {
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  transition: background 300ms ease;
}

[data-transparent-header=true].header .header__logo--has-transparent .header__logo-img {
  opacity: 1;
}

[data-transparent-header=true].header .header__logo--has-transparent .header__logo-img--transparent {
  opacity: 0;
}

[data-transparent-header=true] .header__logo--has-transparent .header__logo-img--transparent {
  display: block;
}

.header__logo-img--transparent {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.touchevents body:not(.header-stuck) [data-transparent-header=true].header,
.touchevents body:not(.header-stuck) [data-transparent-header=true].header .header__logo-img {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}
/*# sourceMappingURL=component-header-transparent.css.map */
