/* ==========================================================================
   #HEADER
   ========================================================================== */
.header-stripe {
  width: 100%;
  height: 3px;
  position: relative;
  top: 0;
  left: 0;
  background: var(--color--brand);
}

.header--has-stripe {
  padding-top: 3px;
}

.header,
.header__logo,
.header-trigger {
  min-height: 54px;
  height: calc(var(--logo-size) + var(--logo-spacing) * 7px);
}
@media (max-width: 47.9275em) {
  .header,
  .header__logo,
  .header-trigger {
    height: calc(var(--logo-size-mobile) + var(--logo-spacing-mobile) * 5px);
  }
}

.shopify-section-header {
  display: contents;
}

header-container {
  display: block;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
header-container.is-sticky {
  position: sticky;
  top: -1px;
}
.header-down header-container header {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.header-up header-container header {
  -ms-transform: translateY(calc(-1 * var(--header-height) - 4px));
  -webkit-transform: translateY(calc(-1 * var(--header-height) - 4px));
  transform: translateY(calc(-1 * var(--header-height) - 4px));
}
.header-up header-container {
  pointer-events: none;
}

.header {
  position: relative;
  width: 100%;
  min-height: 54px;
  background: var(--header-bg-color);
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s ease-in-out 0.02s, -webkit-transform 350ms ease;
  -moz-transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s ease-in-out 0.02s, -moz-transform 350ms ease;
  transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s ease-in-out 0.02s, transform 350ms ease;
}
@media (max-width: 47.9275em) {
  .header {
    border-top-width: 1px;
  }
}
.header .list-menu__link,
.header .list-menu__text {
  color: var(--header-text-color-light);
}
.header .list-menu__link:hover,
.header .list-menu__text:hover {
  color: var(--header-text-color-light);
  opacity: 1;
}
.header .list-menu__link:hover::before,
.header .list-menu__text:hover::before {
  background-color: var(--header-text-color-lightest);
}

@media (prefers-reduced-motion: reduce) {
  .header {
    -webkit-transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s 0.02s ease-in-out;
    -moz-transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s 0.02s ease-in-out;
    transition: border-color 0.3s ease-in, opacity 0.5s ease-in, background-color 0.3s 0.02s ease-in-out;
  }
}
.header--has-divider {
  border-bottom: 1px solid var(--header-text-color-lightest);
}

nested-menu,
header-details-disclosure,
header-details-disclosure details {
  display: block;
  box-sizing: border-box;
}

.header__wrapper {
  position: static;
}

.header__logo {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 420px;
  width: fit-content;
  width: -moz-fit-content;
}
@media (max-width: 47.9275em) {
  .header__logo {
    max-width: 230px;
  }
}

.header__logo-wrapper {
  margin: 0;
  line-height: 0;
}

.header__logo-link {
  display: inline-block;
  position: relative;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
@media (hover: hover) {
  .header__logo-link:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

.header__logo-link--text {
  color: var(--header-text-color);
  word-break: break-word;
  display: inline-block;
  font-family: var(--font--title);
  font-weight: var(--font--title-weight);
  font-style: var(--font--title-style);
  letter-spacing: var(--font--title-space);
  text-transform: var(--font--title-transform);
  font-size: 1.4rem;
  line-height: 1.25em;
}
@media (max-width: 47.9275em) {
  .header__logo-link--text {
    font-size: 1.1rem;
  }
}

.header__logo-img {
  display: block;
  padding: 0;
  width: auto;
  height: auto;
  max-height: var(--logo-size);
}
@media (max-width: 47.9275em) {
  .header__logo-img {
    max-height: var(--logo-size-mobile);
  }
}

.header__logo-img--svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 29.99em) {
  .header__logo-img,
  .header__logo-ratio-box {
    max-width: 150px;
  }
}

.header__logo-ratio-box {
  height: var(--logo-size);
}
@media (max-width: 47.9275em) {
  .header__logo-ratio-box {
    height: auto;
    max-height: var(--logo-size-mobile);
  }
  .header--logo-svg .header__logo-ratio-box {
    height: var(--logo-size-mobile);
  }
}

.header-navs {
  width: 100%;
  height: 32px;
  padding: 0 30px;
}

@media (max-width: 61.24em) {
  .header-navs {
    padding: 0 18px;
  }
}
.primary-nav {
  text-align: left;
  float: left;
}

.primary-nav__summary {
  display: block;
}

.primary-nav__items {
  margin-left: 0;
  list-style: none;
  float: left;
}

.primary-nav__item {
  padding-right: var(--font--nav-spacing);
  margin: 0;
  position: relative;
}
.primary-nav__item .primary-nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: currentColor;
  opacity: 1;
  transform: translate3d(0, 0.2em, 0) scaleX(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}
.primary-nav__item .primary-nav__link .icon {
  font-size: 0.7em;
  top: 1px;
}
.primary-nav__item:hover .primary-nav__link::before, .primary-nav__item:focus .primary-nav__link::before,
.primary-nav__item details[open] .primary-nav__link::before {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0) scaleX(1);
}

@media (prefers-reduced-motion: reduce) {
  .primary-nav__item .primary-nav__link::before {
    transition: opacity 300ms;
  }
}
.secondary-nav {
  text-align: right;
  float: right;
}
.secondary-nav header-details-disclosure {
  display: inline-block;
  margin-left: 15px;
}

.secondary-nav__item {
  margin-left: var(--font--nav-spacing);
}

.primary-nav,
.secondary-nav {
  position: relative;
  font-size: calc(var(--font--size-nav) / var(--font--size-base) * 1rem);
}
.primary-nav summary,
.secondary-nav summary {
  list-style: none;
}
.primary-nav summary::-webkit-details-marker, .primary-nav summary::marker,
.secondary-nav summary::-webkit-details-marker,
.secondary-nav summary::marker {
  display: none;
}

.primary-nav .list-menu,
.secondary-nav .list-menu {
  --link-padding: 0.75rem 1.25rem;
  --active-color: var(--header-text-color-lightest);
  --hover-color: var(--header-bg-color-darker);
}

.primary-nav__items,
.secondary-nav__items {
  margin: 0;
}

.primary-nav__item,
.secondary-nav__item {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.primary-nav__item .nav__sub,
.primary-nav__item .nav__sub-t,
.secondary-nav__item .nav__sub {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-0.5rem);
}

details[open] > .nav__sub,
details[open] > .nav__sub-t {
  animation: animateMenuOpen 200ms ease-in-out;
  animation-fill-mode: forwards;
}

body[header-details-disclosure-edit] details[open] > .nav__sub,
body[header-details-disclosure-edit] details[open] > .nav__sub-t {
  animation: none;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.primary-nav__item .has-animation,
.primary-nav__item .has-animation,
.secondary-nav__item .has-animation {
  opacity: 0;
  transform: translateY(0.5rem);
}

details[open] > .nav__sub > .nav__sub-wrap > .has-animation,
details[open] > .nav__sub-t > .nav__sub-t-wrap > .has-animation {
  animation: animateMenuItemOpen 300ms ease-in-out;
  animation-fill-mode: forwards;
}

@media (prefers-reduced-motion: reduce) {
  details[open] > .nav__sub,
  details[open] > .nav__sub-t {
    animation: none;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  details[open] > .nav__sub > .nav__sub-wrap > .has-animation,
  details[open] > .nav__sub-t > .nav__sub-t-wrap > .has-animation {
    animation: none;
    opacity: 1;
    transform: translateY(0);
  }
}
.nav__sub__item .nav__sub-t {
  opacity: 0;
  visibility: hidden;
}

.nav__sub__item:hover .nav__sub-t,
.nav__sub__item.js-active .nav__sub-t {
  opacity: 1;
  visibility: visible;
}

.touchevents .primary-nav__item .nav__sub,
.touchevents .secondary-nav__item .nav__sub {
  display: none;
}
.touchevents .primary-nav__item:hover .nav__sub,
.touchevents .secondary-nav__item:hover .nav__sub {
  display: block;
}
.touchevents .nav__sub__item .nav__sub-t {
  display: none;
}
.touchevents .nav__sub__item:hover .nav__sub-t {
  display: block;
}
.touchevents .mega .nav__sub-t {
  display: block;
}

.nav__sub {
  position: absolute;
  padding-top: 8px;
  text-align: left;
  font-size: 0.875rem;
}

.nav__sub--drawer {
  padding-top: 0;
}
.nav__sub--drawer .nav__sub-wrap {
  position: relative;
  max-width: 100%;
  min-width: 132px;
  width: 100%;
  background: transparent;
  box-shadow: none;
  box-sizing: border-box;
  padding: 6px;
}

.nav__sub-wrap {
  background: var(--header-bg-color);
  box-shadow: 0px 8px 24px 0px var(--color--drop-shadow);
  padding: 12px 18px;
  min-width: 160px;
  max-width: 270px;
  width: max-content;
  left: 0;
}

.nav__sub__items {
  margin-bottom: 0;
  font-family: var(--font--body);
  font-weight: var(--font--body-weight);
  font-style: var(--font--body-style);
  letter-spacing: 0;
  text-transform: none;
}

.nav__sub__link {
  color: var(--header-text-color-light);
  width: 100%;
  display: inline-block;
  padding: 2px 18px;
  margin-top: 2px;
}
.nav__sub__link:hover {
  opacity: 1;
  color: var(--header-text-color);
  background: var(--header-bg-color-darker);
  text-decoration: none;
}

.nav__sub__item--sub:hover .nav__sub__link {
  color: var(--header-text-color);
  background: var(--header-bg-color-darker);
}

.nav__sub__item--sub .nav__sub__link {
  position: relative;
  padding-right: 24px;
}

.nav__sub-t {
  position: absolute;
  left: calc(100% - 1px);
  top: auto;
  margin-top: -42px;
  padding-left: 18px;
  z-index: 2;
}
.nav__sub-t.is-left-aligned {
  left: auto;
  right: calc(100% - 1px);
  padding-left: 0;
  padding-right: 18px;
}

.nav__sub-t-wrap {
  background: var(--header-bg-color);
  box-shadow: 0px 8px 24px 0px var(--color--drop-shadow);
  width: 180px;
  padding: 12px 18px;
}

.nav__sub-t__items {
  margin: 0;
}

.nav__sub-t__link {
  width: 100%;
  display: inline-block;
  padding: 2px 18px;
  margin-top: 2px;
  color: var(--header-text-color-light);
  border-radius: 4px;
}
.nav__sub-t__link:hover {
  opacity: 1;
  color: var(--header-text-color);
  background: var(--header-bg-color-darker);
  text-decoration: none;
}

.primary-nav__link {
  height: 32px;
}

.primary-nav__link,
.secondary-nav__link {
  position: relative;
  color: var(--header-text-color);
  display: flex;
  align-items: center;
  column-gap: 0.75em;
  line-height: 33px;
  cursor: pointer;
}
.primary-nav__link:hover,
.secondary-nav__link:hover {
  text-decoration: none;
}

.secondary-nav__item--cart.secondary-nav__link--word {
  column-gap: 0;
}

.primary-nav__link--special {
  color: var(--special-link-color);
}

.secondary-nav__item--light .secondary-nav__link {
  color: var(--header-text-color-light);
  font-size: calc(var(--font--size-nav) / var(--font--size-base) * 0.8rem);
}

.secondary-nav__localize,
.secondary-nav__actions {
  display: inline-block;
  margin: 0;
}

.secondary-nav__items--icon .secondary-nav__item {
  margin-left: 21px;
}

.secondary-nav__link--icon {
  font-size: 20px;
  top: 5px;
  position: relative;
  line-height: 0;
}

.secondary-nav__link--search.secondary-nav__link--word-search {
  width: 17px;
  height: 17px;
  top: 4px;
  position: relative;
  line-height: 0;
}

.secondary-nav__link.secondary-nav__item--cart:not(a) {
  cursor: default;
}

.header--icons .primary-nav,
.header--inline-icons .primary-nav {
  width: 100%;
}
.header--icons .primary-nav,
.header--icons .secondary-nav,
.header--inline-icons .primary-nav,
.header--inline-icons .secondary-nav {
  display: none;
}

.header--logo-left .header__logo {
  margin: 0;
  left: 30px;
}
.header--logo-left .primary-nav {
  margin-left: calc(var(--header-logo-width, 0px) + 36px);
}
@media (max-width: 47.9275em) {
  .header--logo-left .header__logo {
    left: 0;
    margin: 0 auto;
  }
}

.header.header--center {
  height: auto;
}
.header.header--center .header__logo {
  position: relative;
  height: auto;
  margin: 0 auto;
  padding: calc(var(--logo-spacing) * 3px) 0;
}
@media (max-width: 47.9275em) {
  .header.header--center .header__logo {
    padding: 0;
  }
}
.header.header--center .header__logo-link--text {
  margin: 12px 0;
}
.header.header--center .header-navs {
  position: static;
  height: auto;
}
.header.header--center .primary-nav {
  width: 100%;
  text-align: center;
  margin: 0 0 12px;
}
.header.header--center .primary-nav__items {
  float: unset;
  padding: 0 108px;
  display: inline-block;
}
.header.header--center .primary-nav__item {
  margin: 0;
  padding: 0 calc(var(--font--nav-spacing) / 2);
}
.header.header--center .secondary-nav {
  position: absolute;
  top: 12px;
  right: 30px;
  width: calc(100% - 18px);
}
.header.header--center .secondary-nav__localize {
  position: absolute;
  left: 0;
}
.header.header--center .secondary-nav__localize .secondary-nav__item {
  margin-left: 18px;
  margin-right: calc(var(--font--nav-spacing) - 18px);
}
.header.header--center .nav__sub--header-localize {
  right: auto;
  left: auto;
}
@media (max-width: 47.9275em) {
  .header.header--center {
    height: calc(var(--logo-size-mobile) + var(--logo-spacing-mobile) * 5px);
  }
  .header.header--center .header__logo {
    height: 100%;
    padding: 0;
  }
}

.nav__sub--header-localize {
  right: -30px;
}
.nav__sub--header-localize .nav__sub-wrap:before,
.nav__sub--header-localize .nav__sub-wrap:after {
  right: 24px;
  left: auto;
}

.nav__sub-wrap--lang,
.nav__sub-wrap--country {
  max-height: 252px;
  overflow-y: scroll;
}
.nav__sub-wrap--lang .nav__sub__link.selected,
.nav__sub-wrap--country .nav__sub__link.selected {
  opacity: 1;
  color: var(--header-text-color);
  background: var(--header-bg-color-darker);
  text-decoration: none;
}

.primary-nav,
.primary-nav__items,
.primary-nav__item {
  position: static;
}

header-details-disclosure.mega {
  position: static;
  text-align: left;
}
header-details-disclosure.mega details {
  position: static;
}
header-details-disclosure.mega details[open] .has-animation {
  animation: animateMenuItemOpen 200ms ease-in-out;
  animation-fill-mode: forwards;
}
header-details-disclosure.mega details summary {
  position: relative;
  z-index: 2;
}
header-details-disclosure.mega .nav__sub {
  --header-elements-height: 0px;
  box-sizing: border-box;
  left: 0;
  top: 100%;
  width: 100vw;
  border-right: 0;
  border-left: 0;
  overflow: hidden;
  padding-top: 1px;
  box-shadow: 0px 8px 24px 0px var(--color--drop-shadow);
  clip-path: inset(0px 0px -48px 0px);
}
header-details-disclosure.mega .nav__sub.has-height-control {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(100vh - var(--header-elements-height) - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
}
header-details-disclosure.mega .nav__sub.has-height-control .nav__sub-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}
header-details-disclosure.mega .nav__sub.has-height-control .nav__sub-wrap .list-menu {
  opacity: 1;
  transform: translateY(0);
}
header-details-disclosure.mega .nav__sub-wrap {
  width: 100%;
  max-width: 100%;
  padding: 42px 30px;
  box-shadow: none;
}
header-details-disclosure.mega .nav__sub-wrap::before, header-details-disclosure.mega .nav__sub-wrap::after {
  content: none;
}
header-details-disclosure.mega .mega-panel {
  --blocks-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--blocks-gap);
  margin: 0 auto;
  max-width: var(--panel-max-width);
}
header-details-disclosure.mega .mega-panel--alignment-left {
  justify-content: flex-start;
}
header-details-disclosure.mega .mega-panel--alignment-left .mega-panel__block .mega-panel__heading,
header-details-disclosure.mega .mega-panel--alignment-left .mega-panel__block .mega-panel__items,
header-details-disclosure.mega .mega-panel--alignment-left .mega-panel__block--incomplete .mega-panel__heading,
header-details-disclosure.mega .mega-panel--alignment-left .mega-panel__block--incomplete .mega-panel__items {
  justify-content: flex-start;
}
header-details-disclosure.mega .mega-panel--alignment-center {
  justify-content: center;
}
header-details-disclosure.mega .mega-panel--alignment-center .mega-panel__block--incomplete .mega-panel__heading,
header-details-disclosure.mega .mega-panel--alignment-center .mega-panel__block--incomplete .mega-panel__items {
  justify-content: center;
}
header-details-disclosure.mega .mega-panel__block {
  --width: 6;
  --per-row: 6;
  --spacing: 30;
  flex: 0 0 calc(1% * var(--width));
}
header-details-disclosure.mega .mega-panel--single-row .mega-panel__block {
  flex-basis: calc(1% * var(--width) - var(--blocks-gap) / 2);
}
header-details-disclosure.mega .mega-panel__heading {
  display: flex;
  margin-bottom: 9px;
  justify-content: flex-start;
}
header-details-disclosure.mega .mega-panel__heading > * {
  --item-span: 6;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc((100% / var(--per-row) - 1px * var(--spacing) * (var(--per-row) - 1) / var(--per-row)) * var(--item-span) + 1px * var(--spacing) * (var(--item-span) - 1));
}
header-details-disclosure.mega .mega-panel__items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: calc(1px * var(--spacing));
  list-style: none;
  margin: 0;
}
.mega-panel__block--incomplete header-details-disclosure.mega .mega-panel__items {
  justify-content: center;
}
.mega-panel__block--incomplete header-details-disclosure.mega .mega-panel__items .mega-panel__item--full {
  justify-content: center;
}
header-details-disclosure.mega .mega-panel__item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / var(--per-row) - 1px * var(--spacing) * (var(--per-row) - 1) / var(--per-row));
  container-name: mega_panel_item;
  container-type: inline-size;
}
header-details-disclosure.mega .cta--text-align-center {
  text-align: center;
}
header-details-disclosure.mega .cta__content {
  margin-top: 12px;
}
header-details-disclosure.mega .cta__link:hover {
  opacity: 0.9;
}
header-details-disclosure.mega .cta__title {
  margin-bottom: 3px;
  color: var(--header-text-color);
  font-size: calc(var(--font--size-mega-menu) / var(--font--size-base) * 1rem);
  line-height: 1.8;
}
header-details-disclosure.mega .cta__text {
  font-family: var(--font--body);
  font-weight: var(--font--body-weight);
  font-style: var(--font--body-style);
  font-size: 0.875rem;
  text-transform: initial;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 3px;
  color: var(--header-text-color-light);
}
header-details-disclosure.mega .cta__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header-details-disclosure.mega .mega-links {
  margin: 0;
  list-style-type: none;
}
header-details-disclosure.mega .mega-links .list-menu__link {
  padding: 3px 0;
}
header-details-disclosure.mega .mega-links--text-align-center {
  text-align: center;
}
header-details-disclosure.mega .mega-links--text-align-center .list-menu__link {
  justify-content: center;
}
header-details-disclosure.mega .mega-links__item--sub:hover .mega-links__link {
  background: transparent;
}
header-details-disclosure.mega .mega-links__link {
  position: relative;
  color: var(--header-text-color);
  width: 100%;
  display: inline-block;
  padding: 0;
  font-size: calc(var(--font--size-mega-menu) / var(--font--size-base) * 1rem);
  line-height: 1.8;
  margin-bottom: 6px;
}
header-details-disclosure.mega .mega-links__link::before {
  content: "";
  position: absolute;
  top: -0.5em;
  right: -0.75em;
  bottom: -0.5em;
  left: -0.75em;
  border-radius: 4px;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
}
header-details-disclosure.mega .mega-links__link:hover {
  opacity: 1;
  color: var(--header-text-color);
  text-decoration: none;
}
header-details-disclosure.mega .mega-links__link:hover::before {
  opacity: 1;
  background-color: var(--header-bg-color-darker);
}
header-details-disclosure.mega .mega-links__link--has-children::before {
  content: none;
}

@media (prefers-reduced-motion: reduce) {
  header-details-disclosure.mega details[open] .has-animation {
    animation: none;
    opacity: 1;
    transform: translateY(0);
  }
}
@container mega_panel_item (min-width: 400px) {
  .mega-links .list-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.cart-count-bubble {
  position: absolute;
  top: -3px;
  right: -5px;
  min-width: 14px;
  line-height: 12px;
  font-size: 9px;
  padding: 1px 3px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 15px;
  font-family: sans-serif;
  background: var(--header-text-color);
  color: var(--header-text-contrast-color);
  -webkit-transition: background 300ms ease, color 300ms ease;
  -moz-transition: background 300ms ease, color 300ms ease;
  transition: background 300ms ease, color 300ms ease;
}

.js-using-tab .primary-nav__item:focus-within > .nav__sub {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.js-using-tab .mega .primary-nav__item:focus-within .nav__sub,
.js-using-tab .mega .primary-nav__item:focus-within .nav__sub-wrap,
.js-using-tab .mega .primary-nav__item:focus-within .nav__sub-t__link,
.js-using-tab .mega .primary-nav__item:focus-within .nav__sub__link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.js-using-tab .mega .primary-nav__item:focus-within .nav__sub--cta .nav__sub__items,
.js-using-tab .mega .primary-nav__item:focus-within .nav__sub__cta,
.js-using-tab .mega .primary-nav__item:focus-within .nav__sub__item {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.4s ease-out;
  -moz-transition: opacity 0.2s ease-in, -moz-transform 0.4s ease-out;
  transition: opacity 0.2s ease-in, transform 0.4s ease-out;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  .js-using-tab .mega .primary-nav__item:focus-within .nav__sub--cta .nav__sub__items,
  .js-using-tab .mega .primary-nav__item:focus-within .nav__sub__cta,
  .js-using-tab .mega .primary-nav__item:focus-within .nav__sub__item {
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
  }
}
@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes animateMenuItemOpen {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*# sourceMappingURL=component-header.css.map */
