/* ==========================================================================
   #HOME FEATURED COLLECTION SECTION
   ========================================================================== */
.section--featured-collections .items-scroll[scrollable] .product-card {
  margin-bottom: 0;
}
.section--featured-collections tab-triggers {
  margin-top: -1em;
}
.section--featured-collections tab-triggers button {
  font-size: calc(var(--font--size-h2) / var(--font--size-base) * 0.7rem);
  line-height: 1.6;
}
@media (max-width: 47.9275em) {
  .section--featured-collections tab-triggers button {
    font-size: calc(var(--font--size-h3) / var(--font--size-base) * 0.8rem);
    line-height: 1.7;
  }
}
.section--featured-collections .items-scroll[items-overflow] [data-items] {
  margin-bottom: var(--page-navigation-margin);
  overflow-y: hidden;
}
.section--featured-collections .items-scroll[items-overflow] [data-items] .product-card {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  .section--featured-collections .items-scroll[items-overflow-min=mob] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-min=mob] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (max-width: 30em) {
  .section--featured-collections .items-scroll[items-overflow-max=mob] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-max=mob] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (min-width: 35em) {
  .section--featured-collections .items-scroll[items-overflow-min=phab] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-min=phab] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (max-width: 35em) {
  .section--featured-collections .items-scroll[items-overflow-max=phab] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-max=phab] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (min-width: 47.9375em) {
  .section--featured-collections .items-scroll[items-overflow-min=tab] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-min=tab] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (max-width: 47.9375em) {
  .section--featured-collections .items-scroll[items-overflow-max=tab] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-max=tab] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (min-width: 61.25em) {
  .section--featured-collections .items-scroll[items-overflow-min=desk] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-min=desk] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (max-width: 61.25em) {
  .section--featured-collections .items-scroll[items-overflow-max=desk] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-max=desk] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (min-width: 67.5em) {
  .section--featured-collections .items-scroll[items-overflow-min=wide] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-min=wide] [data-items] .product-card {
    margin-bottom: 0;
  }
}
@media (max-width: 67.5em) {
  .section--featured-collections .items-scroll[items-overflow-max=wide] [data-items] {
    margin-bottom: var(--page-navigation-margin);
    overflow-y: hidden;
  }
  .section--featured-collections .items-scroll[items-overflow-max=wide] [data-items] .product-card {
    margin-bottom: 0;
  }
}

.section--content-light .product-card__title,
.section--content-default-light .product-card__title {
  color: rgb(255, 255, 255);
}
.section--content-light .product-card__vendor,
.section--content-light .product-card__price,
.section--content-default-light .product-card__vendor,
.section--content-default-light .product-card__price {
  color: rgba(255, 255, 255, 0.8);
}
.section--content-light .product-card__price-cross:before,
.section--content-default-light .product-card__price-cross:before {
  background: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=section-collection.css.map */
