.announcement {
  color: var(--color);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size__desktop);
}
@media (max-width: 47.9275em) {
  .announcement {
    font-size: var(--font-size__mobile);
  }
}
.announcement a,
.announcement .rte a,
.announcement button {
  color: var(--color);
}

.announcement__bg {
  position: relative;
}

.announcement__bg ol,
.announcement__bg li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.announcement--divider-top {
  border-top: 1px solid var(--color--text-lightest);
}

.announcement--divider-bottom {
  border-bottom: 1px solid var(--color--text-lightest);
}

.announcement__close,
.announcement__carousel-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  list-style: 1;
}
.announcement__close .icon,
.announcement__carousel-button .icon {
  transition: 0.2s ease-in-out opacity;
}
.announcement__close:hover .icon,
.announcement__carousel-button:hover .icon {
  opacity: 0.7;
}

.announcement__close {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 17px 9px;
}
.announcement__close .icon {
  --size: 14px;
  display: block;
}

.announcement__carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}

.announcement__carousel-button.carousel-prev {
  left: 0rem;
}

.announcement__carousel-button.carousel-next {
  right: 0rem;
}

announcement-bar[static] .announcement__carousel-button[hidden] {
  display: none;
}

.announcement__container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.announcement__container--carousel {
  padding: 0 24px;
}

.announcement__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.announcement__wrapper--carousel {
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.announcement__wrapper--carousel::-webkit-scrollbar {
  display: none;
}

.announcement__slides {
  flex-basis: auto;
}

.announcement__slides--carousel {
  flex: 0 0 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.announcement__carousel-button,
.announcement__close {
  font-size: 14px;
}

.announcement__message {
  line-height: 24px;
  text-align: center;
  margin: auto;
  padding: 12px 20px;
}

.announcement__messages--2 {
  padding: 12px 60px;
}

.announcement__messages--3 {
  padding: 12px 40px;
}

.announcement__icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  right: 3px;
}
.announcement__icon .icon {
  --size: calc(1em * 1.5);
}

.announcement__text {
  position: relative;
  display: inline-block;
  margin: 0;
}

.announcement__link {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.announcement__link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.announcement__link__text {
  white-space: nowrap;
  position: relative;
  margin-left: 6px;
  text-decoration: underline;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.announcement__link__text:hover {
  opacity: 1;
  text-decoration: underline;
}

.announcement__pop-up__text {
  text-decoration: underline;
}

.announcement__text--body {
  font-family: var(--font--body);
  font-weight: var(--font-weight, var(--font--body-weight));
  font-style: var(--font--body-style);
  letter-spacing: var(--letter-spacing, inherit);
  text-transform: var(--text-transform, none);
}

.announcement__text--heading {
  font-family: var(--font--title);
  font-weight: var(--font-weight, var(--font--title-weight));
  font-style: var(--font--title-style);
  letter-spacing: var(--letter-spacing, var(--font--title-space));
  text-transform: var(--text-transform, var(--font--title-transform));
}

@media (max-width: 47.9275em) {
  .announcement__carousel-container {
    width: 87%;
    padding: 0 18px;
  }
  .announcement__message {
    padding: 12px 18px;
  }
  .announcement__text {
    line-height: 1.2;
  }
  .announcement__carousel-button,
  .announcement__close {
    font-size: 12px;
  }
  .announcement__close {
    padding: 18px 6px;
  }
}
/* Announcement Popup */
.announcement-popup-draw {
  position: relative;
  background: var(--color--bg);
  max-width: 700px;
  width: 100%;
  margin: 12px auto 42px;
}

.announcement-popup-draw .mfp-close {
  color: var(--color--text);
  display: block;
  font-size: 24px;
  width: 54px;
  height: 54px;
  top: 0;
  right: 0;
  line-height: 58px;
}

.announcement-popup-draw__wrapper {
  padding: 30px;
}

.announcement-popup__inner {
  overflow-x: scroll;
}

.announcement-popup__head {
  text-align: center;
  height: auto;
  position: relative;
}

.announcement__popup__icon {
  line-height: 1;
}

.announcement-popup__label-title {
  line-height: 1.8;
  margin-bottom: 0;
  text-transform: var(--font--title-transform);
}

.announcement-popup__inner {
  margin-top: 30px;
}

.announcement-popup__text--margin {
  margin-top: 12px;
}

.announcement-popup__media-img {
  width: 100%;
}

.announcement__close,
.announcement__carousel-button,
.announcement__wrapper {
  opacity: 0;
  transition: 0.5s ease-out opacity;
}

announcement-bar[loaded] .announcement__close,
announcement-bar[loaded] .announcement__carousel-button,
announcement-bar[loaded] .announcement__wrapper {
  opacity: 1;
}
/*# sourceMappingURL=section-announcement-bar.css.map */
